<h1>Detail Item Category<h1>
    <table>
            <tr>
                <th>Name<th>
                <th>Price<th>
            </tr>
        <% category.each do |item|%>
            <tr>
                <td><%= item.name %>  </td>  
                <td><%= item.price %>  </td>  
            </tr>
        <% end %>  
    </table> 