<h1>Create Category</h1>
<form action="/category/create" method ="POST">
    <input type="text" placeholder="name" name="name">  
    <button type="submit">add Category</button>
</form>
<a href="/">Back</a>