<h1> Detail Item <h1>
<% items.each do |item| %>
    <p> Name : <%= item.name %> <p>
    <p> Price :<%= item.price %><p>
    <p> Category :<%= item.category %><p>
<% end %>
<a href="/" >Daftar Item</a>